// Put any @imports here
// See Readme for a list of supported ones
@import 'font-awesome';

body {
  background: white;
  font: normal 1.5em sans-serif;
  color: white;
}

.left{
  width: 25%;
}

.right {
  width: 75%;
}

.wrapper {

  margin: 20px 20px;

  .head {
    color: black;
    background-color: #F5F5F5;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      margin: 10px 0;
      font-size: 2em;
    }
    nav {
      a {
        text-decoration: none;
        color: #57C7FA;
      }
    }
    p {
      margin: 5px 0;
    }
    small {
      padding-bottom: 20px;
    }
    .links {
      padding-bottom: 20px;
      font-size: 1.5em;
      a{
        color: black;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }

  .work {
    margin-top: 20px;
    display: flex;
    .right {
      background-color: #FD9498;  
      margin-left: 10px;
      width: 25%;
      h2 {
        padding-left: 50px;
      }
    }
    .left {
      display: flex;
      background-color: #FFB3B5;
      margin-right: 10px;
      width: 75%;
      .work-block{
        overflow: hidden;
        background: #000;
        margin: 20px 20px;
        position: relative;
        .inner {
          display: none;
        }
        &:hover {
          .inner {
            display: block;
            position: absolute;
            top: 5%;
            right: 5%;
            bottom: 5%;
            left: 5%;
            z-index: 100;
            .buttons {
              text-align: center;
              button {
                padding: 10px;
                margin-right: 15px;
                color: white;
                background-color: transparent;
                border-radius: 5px;
                border: 2px solid white;
              }
            }
          }
          img {
            opacity: 0.2;
          }
        }
        img {
        background-color: white;
        width: 100%;
        height: 100%;
        }
      }
    }
  }

  .skills {
    display: flex;
    margin-top: 20px;
    .left {
      background-color: #F8BA66;
      margin-right: 10px;
      h2 {
        float: right;
        padding-right: 50px;
      }
    }
    .right{
      background-color: #FBD191;
      margin-left: 10px;
    }
  }

  .about {
    display: flex;
    margin-top: 20px;
    .left {
      background-color: #A7E5D7;
      width: 75%; 
      margin-right: 10px;
      .text {
        padding: 20px;
      }
    }
    .right {
      background-color: #85DAC6;
      width: 25%;
      margin-left: 10px;
      h2 {
        padding-left: 50px;
      }
    }
  }

  .contact {
    display: flex;
    margin-top: 20px;
    .left {      
      background-color: #1EB1F2;
      margin-right: 10px;
      h2 {
        float: right;
        padding-right: 50px;
      }
    }
    .right {
      background-color: #5DC8F8;
      margin-left: 10px;
    }
  }
}